@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    @apply border-gray-200;
  }
  
  body {
    @apply bg-gray-50 text-gray-950;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold tracking-tight;
  }
  
  h1 {
    @apply text-4xl;
  }
  
  h2 {
    @apply text-3xl;
  }
  
  h3 {
    @apply text-2xl;
  }
  
  h4 {
    @apply text-xl;
  }
  
  h5 {
    @apply text-lg;
  }
  
  h6 {
    @apply text-base;
  }
}

@layer utilities {
  .animate-in {
    animation-name: animateIn;
    animation-duration: 150ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }

  .animate-out {
    animation-name: animateOut;
    animation-duration: 150ms;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
  }

  @keyframes animateIn {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(
          var(--tw-enter-translate-x, 0),
          var(--tw-enter-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1)
        )
        rotate(var(--tw-enter-rotate, 0));
    }
  }

  @keyframes animateOut {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform: translate3d(
          var(--tw-exit-translate-x, 0),
          var(--tw-exit-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1)
        )
        rotate(var(--tw-exit-rotate, 0));
    }
  }
  
  .fade-in-0 {
    --tw-enter-opacity: 0;
  }
  
  .fade-out-0 {
    --tw-exit-opacity: 0;
  }
  
  .zoom-in-95 {
    --tw-enter-scale: 0.95;
  }
  
  .zoom-out-95 {
    --tw-exit-scale: 0.95;
  }
  
  .slide-in-from-top-2 {
    --tw-enter-translate-y: -0.5rem;
  }
  
  .slide-in-from-bottom-2 {
    --tw-enter-translate-y: 0.5rem;
  }
  
  .slide-in-from-left-2 {
    --tw-enter-translate-x: -0.5rem;
  }
  
  .slide-in-from-right-2 {
    --tw-enter-translate-x: 0.5rem;
  }
  
  .slide-out-to-top-[48%] {
    --tw-exit-translate-y: -48%;
  }
  
  .slide-out-to-left-1/2 {
    --tw-exit-translate-x: -50%;
  }
  
  .slide-out-to-right-full {
    --tw-exit-translate-x: 100%;
  }
}